url: 'https://www.cvbankas.lt/?keyw='
headers:
        name_of_header: 'User-Agent'
        value_of_the_header: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 \
                        (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'

animation: ["[■□□□□□□□□□]","[■■□□□□□□□□]", "[■■■□□□□□□□]", "[■■■■□□□□□□]", "[■■■■■□□□□□]", "[■■■■■■□□□□]", "[■■■■■■■□□□]", "[■■■■■■■■□□]", "[■■■■■■■■■□]", "[■■■■■■■■■■]"]
json_file: "docs/jobs.json"

logging:
    version: 1
    formatters:
        brief:
            format: '%(message)s'
        default:
            format: '%(asctime)s %(levelname)-8s [%(name)s] %(message)s'
            datefmt: '%Y-%m-%d %H:%M:%S'
    handlers:
        console:
            class: logging.StreamHandler
            level: DEBUG
        file:
            class: logging.FileHandler
            level: DEBUG
            formatter: default
            filename: logs\info.log
    loggers:
        main:
            level: DEBUG
            handlers: [ file ]
        console:
            level: DEBUG
            handlers: [ console ]